html {
  height: max-content;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat Alternates';
  background: linear-gradient(to bottom right, rgb(0, 1, 19), rgb(20, 8, 135));
}

p {
  font-size: 20px;
}

#skills h4,
#skills h3 {
  text-align: center;
  text-shadow: 4px 4px #000000;
}

.inverse-text {
  color: white;
}

.center-title {
  text-align: center;
}

.my-container {
  margin-top: 100px;
}

.card {
  margin: auto;
  height: 280px;
  background-color: #fdf3e7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

.fa {
  padding: 5px;
  font-size: 19px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.556);
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
  color: white;
  margin-left: 10px;
}

.fa-twitter {
  background: #55acee;
  color: white;
  margin-left: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: 10px;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin-left: 10px;
}

.my-section {
  margin-bottom: 40px;
}

#profile-pic {
  height: 280px;
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

#my_dream {
  background-color: rgba(255, 255, 255, 0.3);
}
#my_dream::before {
  border-color: rgba(255, 255, 255, 0.3) transparent transparent transparent;
}

td {
  padding-bottom: 10px !important;
}
