<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:if="${name}" th:text="${name} + ', I hope you interested to hire me'"></title>
    <title th:unless="${name}">This is my CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/background-effect.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/timeline.css" rel="stylesheet" />
</head>

<body>
    <div class="container my-container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4"><img src="images/indra.jpg" id="profile-pic" /></div>
            <div class="my-section col-md-6">
                <div class="card">
                    <span th:if="${name}">
                        <p th:text="'Hello, ' + ${name} + '!'" />
                    </span>
                    <h3>Muhammad Indra Ramadhan</h3>
                    Computer Science Student<br /><br />
                    <span class="glyphicon glyphicon-envelope"></span> mindrar96@gmail.com<br />
                    <span class="glyphicon glyphicon-earphone"></span> +6282188779493<br />
                    <span class="glyphicon glyphicon-user"></span> Jakarta, 12 Januari 1999<br />
                    <span class="glyphicon glyphicon-map-marker"></span> Ciputat, Tangerang
                    Selatan.<br />
                </div>
            </div>
        </div>
        <div class="my-section">
            <div class="card">
                <h3 class="center-title">About Me</h3>
                <p>
                    Saya seorang mahasiswa ilmu komputer, universitas indonesia. saya sudah menyukai
                    komputer
                    sejak saya masih SD. Sebelum terjun ke dunia komputer, saya sudah mencoba
                    beberapa
                    bidang lain
                    seperti melukis, puisi bahkan olahraga.
                </p>
                <p>
                    Saya seorang introvert tetapi mampu untuk bekerja sama dalam tim, mempunyai jiwa
                    pantang
                    menyerah jika diberi kepercayaan.
                </p>
            </div>
        </div>
        <div class="my-section timeline">
            <ol>
                <li>
                    <div>
                        <time>Elementary School</time> SDN 10 Pondok Pinang.<br />
                        Graduated as best student
                    </div>
                </li>
                <li>
                    <div>
                        <time>Junior High School</time> SMPN 85 Jakarta.<br />
                        Start the journey as young programmer
                    </div>
                </li>
                <li>
                    <div>
                        <time>Senior High School</time> SMAN 34 Jakarta.<br />
                        Got the "Absolute Winner" title on National Science Olympiad in Informatics
                    </div>
                </li>
                <li>
                    <div>
                        <time>College</time> Universitas Indonesia<br />
                        Coming soon...
                    </div>
                </li>
                <li>
                    <div id="my_dream">
                        <time>Work</time> Google<br />
                        Someday...
                    </div>
                </li>
                <li style="width:100%;"></li>
            </ol>
        </div>
        <div id="skills" class="my-section inverse-text">
            <h3 class="center-title">Skills</h3>
            <div class="row">
                <div class="col-md-2">
                    <h4>Python</h4>
                </div>
                <div class="col-md-2">
                    <h4>Java</h4>
                </div>
                <div class="col-md-2">
                    <h4>Javascript</h4>
                </div>
                <div class="col-md-2">
                    <h4>C++</h4>
                </div>
                <div class="col-md-2">
                    <h4>Django</h4>
                </div>
                <div class="col-md-2">
                    <h4>MySQL</h4>
                </div>
            </div>
        </div>
        <div class="my-section">
            <div class="card" style="padding:0px;height: 250px;">
                <div style="display:flex;height:100%; position:relative;">
                    <div style="height: 100%;">
                        <img style="height: 100%; border-radius: 10px 0px 0px 10px;"
                            src="images/medal.jpg" />
                    </div>
                    <div style="padding:20px;">
                        <h3>Achievements</h3>
                        <ul style="margin-left:10px;">
                            <li><b>Finalist</b>, ACM-ICPC Asia-Jakarta Regional Programming Contest
                                2017
                            </li>
                            <li><b>Finalist</b>, Gemastik 10 - Programming Contest</li>
                            <li><b>Honorable Mention</b>, Senior Competitive Programming Contest
                                Compfest 9</li>
                            <li><b>Bronze Medals</b>, The Asia-Pacific Informatics Olympiad 2017
                            </li>
                            <li><b>Gold Medals</b>, National Science Olympiad in Informatics 2016
                            </li>
                            <li><b>Bronze Medals</b>, National Science Olympiad in Informatics 2015
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/bootstrap.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/background-effect.js"></script>

</html>
